<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace = "com.jinanging.thebuild.post.repository.PostRepository">

	<select id="selectPostImageByUserId" parameterType="long" resultType="com.jinanging.thebuild.post.domain.PostImage">
	    SELECT 
	    	*
	    FROM 
	    	postImage
	    JOIN post
	    ON post.id = postImage.postId
	    WHERE post.userId = #{userId}
	    ORDER BY postImage.id DESC
	</select>



</mapper>