<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace = "com.jinanging.thebuild.user.repository.UserRepository">
	
	
	<select id="selectUsersByIds" parameterType="java.util.List" resultType="com.jinanging.thebuild.user.domain.User">
	    SELECT 
	        `id`, 
	        `nickName`
	    FROM `user`
	    WHERE `id` IN
	    (
	        <foreach collection="userIds" item="id" separator=",">
	            #{id}
	        </foreach>
	    )
	</select>




	<select id ="selectUser" parameterType = "map"
	resultType = "com.jinanging.thebuild.user.domain.User">
		SELECT 
			`id`
			, `loginId`
			, `password`
			, `nickName`
			, `email`
			, `introduce`
			, `profile`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId} 
			AND `password` = #{password}
		
		
	</select>

	<insert id = "insertUser" parameterType = "map">
		INSERT INTO
			`user`
		(
			`loginId`
			, `password`
			, `nickName`
			, `email`
			, `introduce`
			, `profile`
		)
		VALUE
		(
			#{loginId}
			, #{password}
			, #{nickName}
			, #{email}
			, #{introduce}
			, 'https://cdn.pixabay.com/photo/2012/04/26/19/43/profile-42914_1280.png'
		)
	
	</insert>
	
	<select id = "selectCountByLoginId" parameterType = "string"
		resultType = "int">
		
		SELECT
			count(*)
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	
	</select>
	
	

</mapper>