<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/origin}">
		<section layout:fragment="contents" class="contents d-flex justify-content-center">
			<div class = "post-box origin-bg d-flex justify-content-center align-items-center">
				<div class = "create-box origin-bg">
					<h1 class="text-white mb-4">피드 입력</h1>
					
					<label class = "font-weight-bold text-white">제목을 입력하세요</label>
					<input type="text" class="form-control mt-1" placeholder="제목을 입력하세요">
					
					<label class = "font-weight-bold text-white mt-2">내용을 입력하세요</label>
					<textarea  rows="8" class="form-control mt-1" placeholder="내용을 입력하세요"></textarea> 
					
					<input type="file" class="text-white mt-2">
					<div class = "d-flex justify-content-between">
						<button type="button" class="btn btn-secondary mt-3">목록으로</button>
						<button type="button" class="btn btn-secondary mt-3">저장</button>
					</div>
				</div>		
			</div>
		</section>
</html>	