<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/origin}">
    <section layout:fragment="contents" class="contents d-flex justify-content-center">
        <div class="d-flex post-box origin-bg justify-content-center align-items-center">
            <div class="create-box origin-bg">
                <h1 class="text-white mb-4">피드 상세</h1>
                
                <label for="titleInput" class="font-weight-bold text-white">제목을 입력하세요</label>
                <input id="titleInput" type="text" class="form-control mt-1" placeholder="제목을 입력하세요">
                
                <label for="contentsInput" class="font-weight-bold text-white mt-2">내용을 입력하세요</label>
                <textarea id="contentsInput" rows="8" class="form-control mt-1" placeholder="내용을 입력하세요"></textarea> 
                
                <label for="imageInput" class="font-weight-bold text-white mt-2">이미지 첨부</label>
                <input id="imageInput" type="file" class="form-control-file text-white mt-1" multiple>
                
                <div class="d-flex justify-content-between">
                    <a href="/post/list-view" class="btn btn-secondary mt-3" id="listBtn">목록으로</a>
                    <button id="saveBtn" type="button" class="btn btn-secondary mt-3">저장</button>
                </div>
            </div>      
        </div>
    </section>