<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
		<section layout:fragment="contents" class="contents d-flex justify-content-center">
			<div class="user-box login-bg my-5 p-5 rounded-lg">
				<h1 class="text-center">회원 가입</h1>
				<input id = "idInput" type="text" class="form-control mt-4" placeholder="아이디">
				<button id= "IsduplicateBtn" type= "button" class ="btn btn-secondary btn-block mt-2">중복 확인</button>
				<div id = "duplicateText" class = "small text-danger d-none">중복된 아이디입니다.</div>
				<div id = "availableText" class = "small text-success d-none">사용가능한 아이디입니다.</div>
				<input id = "passwordInput" type="password" class="form-control mt-2" placeholder="비밀번호">
				<input id = "passwordConfirmInput" type="password" class="form-control mt-2" placeholder="비밀번호 확인">
				<input id = "nicknameInput" type="text" class="form-control mt-2" placeholder="닉네임">
				<input id = "emailInput" type="text" class="form-control mt-2" placeholder="이메일">
				<input id = "introduceInput" type="text" class="form-control mt-2" placeholder="자기소개">
				<button id = "joinBtn" type="button" class="btn btn-secondary btn-block mt-3">가입</button>
				<a class = "small" href = "http://localhost:8080/user/login-view">이미 아이디가 있으신가요 ?</a>
			</div>
		</section>
		
		<script layout:fragment="script">
			// 회원가입 중복 아이디 추가구성하기 
			var isUnchecked;

			/* $("#idInput").on("input",function(){
				// 중복확인 재 확인 값 변하면 초기화
				
				isUnchecked = false;
				
			}); */
		
			$("#IsduplicateBtn").on("click",function(){
				let id = $("#idInput").val();
				
				if(id == ""){
					alert("id를 입력하세요!");
					return;
				}
				
				$.ajax({
					type:"get"
					, url :"/user/duplicate-id"
					, data :{"loginId" :id}
					, success:function(response){
						if(response.isDuplicate){
							$("#duplicateText").removeClass("d-none");
							$("#availableText").addClass("d-none");
						}
						else{
							$("#duplicateText").addClass("d-none");
							$("#availableText").removeClass("d-none");
							
						}
					}
					, error: function(){
						alert("회원가입 에러!");
					}
				});
				
				
			});
		
			$("#joinBtn").on("click",function(){
				let id = $("#idInput").val();
				let password = $("#passwordInput").val();
				let passwordConfirm = $("#passwordConfirmInput").val();
				let nickname = $("#nicknameInput").val();
				let email = $("#emailInput").val();
				let introduce = $("#introduceInput").val();
				
				let isDuplicate = !$("#duplicateText").hasClass("d-none");  
			    let isAvailable = !$("#availableText").hasClass("d-none");  
			    let isUnchecked = $("#duplicateText").hasClass("d-none") && $("#availableText").hasClass("d-none");

			 
				if(id == ""){
					alert("id를 입력하세요!");
					return;
				}
				
				 if (isUnchecked) {
				        alert("id 중복검사를 하세요!");
				        return;
				    }
				
				
			    if(isDuplicate) {
			        return; 
			    }
			    

		
				
			    
				if(password == ""){
					alert("비밀번호를 입력하세요!");
					return;
				}
				if(password != passwordConfirm){
					alert("비밀번호가 일치하지 않습니다.");
					return;
				}
				if(nickname == ""){
					alert("이름을 입력하세요!");
					return;
				}
				if(email == ""){
					alert("이메일을 입력하세요");
					return;
				}
				if(introduce == ""){
					alert("이메일을 입력하세요");
					return;
				}
				
			
				
				$.ajax({
					type:"post"
					, url :"/user/join"
					, data :{"loginId" :id, "password" : password, "nickName":nickname, "email":email, "introduce":introduce}
					, success:function(response){
						if(response.result == "success"){
							location.href = "/user/login-view";
						}
						else{
							alert("회원가입 실패!");
						}
					}
					, error: function(){
						alert("회원가입 에러!");
					}
				});
				
				
				
				
			});
		
		</script>
</html>