<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
		<section layout:fragment="contents" class="mr-4 contents d-flex justify-content-end">
			<div class="user-box login-bg my-5 p-5 rounded-lg">
				<h1 class="text-center">로그인</h1>
				<input id = "idInput" type="text" class="form-control mt-4" placeholder="아이디">
				<input id = "passwordInput" type="password" class="form-control mt-2" placeholder="비밀번호">
				<button id = "loginBtn" type="button" class="btn btn-secondary btn-block mt-3">로그인</button>
				<div class="small text-center mt-4"><a href="/user/join-view">회원가입</a></div><br>
				<div class = "small text-center"><a href ="#">비밀번호를 잊으셨나요?</a></div>
			</div>
		</section>
		
		<script layout:fragment="script">
			$("#loginBtn").on("click", function(){
				let id = $("#idInput").val();
				let password = $("#passwordInput").val();
				
				if(id == ""){
					alert("아이디를 입력하세요!");
					return;
				}
				
				if(password == ""){
					alert("비밀번호를 입력하세요!");
					return;
				}
				
				
				$.ajax({
					type : "post"
					, url : "/user/login"
					, data : {"loginId" : id , "password" : password}
					, success:function(response){
						
						if(response.result == "success") {
							location.href = "/post/list-view";
						} else {
							alert("아이디, 비밀번호를 확인해 주세요");
						}
						
					}
					, error:function(){
						alert("로그인 에러");
					}
				})
			});
		
		
		
		</script>
</html>