	<html xmlns:th="http://www.thymeleaf.org" 
	      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	      layout:decorate="~{layouts/origin}">
			<section layout:fragment="contents" class="contents justify-content-center align-itmes-center">
				<div class  = "user-info origin-bg d-flex align-items-center  justify-content-center">
					<div class="mr-4">
				        <img class="rounded-circle border border-white"
				             th:src="@{${session.profile}}"
				             alt="프로필 이미지"
				             style="width: 150px; height: 150px; object-fit: cover;">
				    </div>
				    
				    <div class = "text-white mx-4">
				    	<!-- 더빌드 아이디 -->
				    	<h4 th:text="${session.userName}">@jinan</h4>
				    	<br>
				    	<!-- 자기소개 -->
				    	<div>
				    		<h4 th:text = "${session.introduce}"> 안녕하세요 건축설계사입니다</h4>
				    	</div>
				    
				    </div>
				    
				   <!-- 게시물 팔로워 팔로잉 div -->
				
					<div class="ml-4 profile-info d-flex border border-white text-white p-3 rounded justify-content-between align-items-center">
				        <div class="text-center flex-fill">
				        	<div>게시물</div>
				        	<div class="font-weight-bold">3</div>
				        </div>
				        
				        <div class="text-center flex-fill">
				        	<div>팔로워</div>
				        	<div class="font-weight-bold">3</div>
				        </div>
				        
				        <div class="text-center flex-fill">
				        	<div>팔로잉</div>
				        	<div class="font-weight-bold">3</div>
				        </div>
			        
			    	</div>
			    	
				</div>
				<div class="post-box origin-bg d-flex align-items-center justify-content-center">
				    <div class="d-flex flex-wrap justify-content-start align-items-center">
				        <th:block th:each="image : ${userImages}">
				            <img class="border border-white button" 
				                 th:alt="'Post image ' + ${image.id}" 
				                 width="300" height="200"
				                 th:src="@{${image.imagePath}}" />
				        </th:block>
				    </div>
				</div>
			</section>
	</html>