@charset "UTF-8";

#wrap {
	width:1200px;
	margin:0 auto;
}

.logo-menu{
	width:200px;
	
}


header {
	width : 200px;
	height:100px;
}

nav {
	width : 200px;
}

.contents > .user-box {
	width:400px;
	height : 600px;
}

.feed {
	width: 800px;
	height: 600px;
}

.post-box{
	width: 1000px;
	
}

.create-box{
	width: 800px;
	height: 800px;
	
}

.user-info{
	width :  1000px;
	height : 250px;
}

.profile-info{
	width : 500px;
	height: 130px;
}

footer {
	height:100px;
}

.login-bg{
	background-color : #cccccc;
	opacity : 0.9;
}

.build-bg {
	background-image : url("/static/css/temple-7692729_1920.png");
}

.font{
	font-family: 'Tangerine', sans-serif;
	font-size: 40px;
}

.origin-bg{
	background-color : #000000;
}